
{{> headers}}

{{> navbar}}  

<div class="row">

</div class="col-8">
    <h2>Imagenes cualquiera</h2>
</div>
<div class="col-4">
    <img src="assets/img/prueba.jpg" border="2" class="img-thumbnail">
</div>
    
{{> footer}}